.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}
  
/* :first-child selecionam o primeiro elemento. */  
.first li:first-child {
  color: red;
}

/* :first-child selecionam o último elemento. */  
.last li:last-child {
  color: green;
}

/*
  :is => aceitam uma lista de seletores e marca os corresponder.
*/
p:is(.grifinoria, .luffaluffa) {
  color: blue;
}

/*
  :where => aceitam uma lista de seletores e marca os corresponder.
*/
p:where(.sonserina) {
  color: purple;
}  
