main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.link {
  font-size: 30px;
}

/* Seletor de atributo */
 .link[target='_blank'] {
  color:red;
}  

/* Adjacenteo (+) */
.adjacento h2 + p{
  color: brown;
}
/* Irmão (~) */
.irmao h2 ~ p{
  color: green;
}

/* Filho */
.filho > p{
  color: blue;
}
/* Descendente */
.descendente p{
  color: blue;
}