/*
  O position absolute: quando possui uma referência a sua posição se relaciona com 
  elemento pai, desde que seja um relative, caso não seja será relacionado com
  o body
*/

body {
  background-color: grey;
  height: 180vh;
  width: 240vh;
}

p {
  background-color: pink;
  width:300px;
  padding:5px;
}

.static {
  background-color: green;
  position: static;
  height:100px;  
  width:100px;  
}

.relative {
  background-color: green;
  position: relative;
  height:200px;  
  width:200px;
  top: 25px;
  left:50px;  
}

.absolute {
  background-color: blue;
  position: absolute;
  height:100px;
  width:100px;
  margin: 40px 50px;
  padding: 5px;
}


