/*
  O position absolute: na ausência de um elemento pai do tipo relative: o elemento 
  'descola' da sequência natural de apresentação. Sua referência passa ser o body
*/

body {
  background-color: grey;
  height: 180vh;
  width: 240vh;
}

p {
  background-color: pink;
  width:300px;
  padding:5px;
}

.static {
  position: static;
  width:100px;
  height:100px;  
  background-color: green;        
}

.relative {
  position: relative;
  width:100px;
  height:100px;  
  background-color: green;      
  left:50px;
  top: 25px;
}

.absolute {
  position: absolute;
  width:100px;
  height:100px;  
  background-color: blue;   
  top: 150px;
  right: 150px;
  
}


