/*
  O position absolute: quando possui uma referência a sua posição se relaciona com 
  elemento pai, desde que seja um relative, caso não seja será relacionado com
  o body
*/

body {
  background-color: grey;
  height: 180vh;
  width: 240vh;
}

p {
  background-color: pink;
  width:300px;
  padding:5px;
}

.static {
  position: static;
  width:100px;
  height:100px;  
  background-color: green;        
}

.relative {
  position: relative;
  width:200px;
  height:200px;  
  background-color: green;      
  left:50px;
  top: 25px;
}

.absolute {
  position: absolute;
  width:100px;
  height:100px;  
  background-color: blue;
  margin: 50px 50px;
  padding: 5px;    
  
}


