body {
  background-color: darkgray;
  height:180vh;
  width:240vh;  
}

.pai {
  width:300px;
  height:300px;  
  background-color:green; 
  margin: 150px; 
}

/*
  O position relative: é usado quando queremos alterar a posição de um elemento tendo como
  referência a posição inicial dele  
*/
.filho {
  width:150px; 
  height:150px;
  background-color: blue;
  position:relative;
  top:75px;
  left: 65px;
}