/*
  O position relative: é usado quando queremos alterar a posição de um elemento 
  tendo como referência a SUA POSIÇÃO INICIAL. Diferente do static ele aceita bem 
  os elementos: top,left,right e bottom.
*/

body {
  background-color: grey;
  height: 180vh;
  width: 240vh;
}

.static {
  background-color: green;
  position: static;
  height:100px;  
  width:100px;          
}

.relative {
  background-color: green;      
  position: relative;
  height:100px;  
  width:100px;  
  top: 25px;
  left:50px;  
}

p {
  background-color: pink;
  width:300px;
  padding:5px;
}
