/*
  STATIC: Elemento padrão que apresenta os items na sequência da qual eles são criados. 
  não aceita as propriedades: top, bottom, left e right.
*/

body {
  background-color: grey;
  
  display: flex;
  flex-direction: column;  
  align-items: center;
}

.static {
  background-color: green;
  height:20px;  
  width:60px;
  padding: 5px;

  position: static;  
  top:50px; /* Ignora essa Propriedade e as demais: left,right,bottom */
}

p {
  background-color: pink;
  width:500px;
  padding:5px;
}


