/*
  position static: Elemento padrão que apresenta os items
  na sequência da qual eles são criados. 
  Static: não aceita as propriedades: top, bottom, left e right.
*/

body {
  background-color: grey;
  height: 180vh;
  width: 240vh;
}

.static {
  background-color: green;
  position: static;
  height:20px;  
  width:230px;
  top:50px; /* Ignora essa Propriedade e as demais: left,right,bottom */
}

p {
  background-color: pink;
  width:300px;
  padding:5px;
}


