/*
  1 rem = 16px
*/
html {
  font-size: 10px;
}

.father {
  font-size: 5px;
}

.fromFather {
  font-size: 5em; /* EM: Fonte será porporcional ao elemento PAI */  
}

.fromHtml{
  font-size: 10rem; /* REM: Fonte será proporcional ao elemento  <HTML> */
}