:root {
  --width: 200px;
  --margin-auto: auto;
  --margin-auto-top: 5px;
}

.border_1 {
  display: flex;
  justify-content: center;
  background-color: blue;
  width: var(--width);
  margin: var(--margin-auto);    
  border-style: dotted;
}

.border_2 {
  display: flex;
  justify-content: center;
  background-color: greenyellow;
  width: var(--width);
  margin: var(--margin-auto);
  margin-top: var(--margin-auto-top);
  border-style: double;  
}

.border_3 {
  display: flex;
  justify-content: center;
  width: var(--width);
  margin: var(--margin-auto);
  margin-top: var(--margin-auto-top);
  border-style: groove;
}

.border_4 {
  display: flex;
  justify-content: center;
  background-color: red;
  width: var(--width);
  margin: var(--margin-auto);
  margin-top: var(--margin-auto-top);
  border-style: ridge;
}

.border_5 {
  display: flex;
  justify-content: center;
  background-color: blue;
  width: var(--width);
  margin: var(--margin-auto);
  margin-top: var(--margin-auto-top);
  border-style: inset;
}

.border_6 {
  display: flex;
  justify-content: center;
  background-color: greenyellow;
  width: var(--width);
  margin: var(--margin-auto);
  margin-top: var(--margin-auto-top);
  border-style: outset;
  
}

.border_7 {
  display: flex;
  justify-content: center;
  width: var(--width);
  margin: var(--margin-auto);
  margin-top: var(--margin-auto-top);
  border-style: dashed;
}

.border_8 {
  display: flex;
  justify-content: center;
  background-color: red;
  width: var(--width);
  margin: var(--margin-auto);
  margin-top: var(--margin-auto-top);
  border-style: solid;
}  

.border_9 {
  display: flex;
  justify-content: center;
  background-color: blue;
  width: var(--width);
  margin: var(--margin-auto);
  margin-top: var(--margin-auto-top);
  border: 30px solid greenyellow;
  
}  

.border_10 {
  display: flex;
  justify-content: center;
  background-color: greenyellow;
  width: var(--width);
  margin: var(--margin-auto);
  margin-top: var(--margin-auto-top);
  border-top: 30px solid blue;
  border-left: 30px solid red;
}  

.border_11 {
  display: flex;
  justify-content: center;
  background-color: rgb(150,215,255);
  width: var(--width);
  margin: var(--margin-auto);
  margin-top: var(--margin-auto-top);
  border: 30px solid transparent;
  border-image: url("./src/img/border.png") 150 round;
}  

.border_12 {
  display: flex;
  justify-content: center;
  width: var(--width);
  margin: var(--margin-auto);
  margin-top: 10px;
  border: 30px solid greenyellow;
  border-radius: 20px;
} 
  
.border_13 {
  display: flex;
  justify-content: center;
  width: var(--width);
  margin: var(--margin-auto);
  margin-top: var(--margin-auto-top);
  border: 30px solid blue;
  border-radius: 20px;
  box-shadow: 10px 20px gray;
  
} 
  

