.border_1 {
  display: flex;
  justify-content: center;
  border-style: dotted;
  width: 200px;
  margin: auto;      
}

.border_2 {
  display: flex;
  justify-content: center;
  border-style: double;
  color: red;
  width: 200px;
  margin: auto;    
  margin-top: 10px;
}

.border_3 {
  display: flex;
  justify-content: center;
  border-style: groove;
  width: 200px;
  margin: auto;
  margin-top: 10px;
}

.border_4 {
  display: flex;
  justify-content: center;
  border-style: ridge;
  width: 200px;
  margin: auto;  
  margin-top: 10px;
}

.border_5 {
  display: flex;
  justify-content: center;
  border-style: inset;
  width: 200px;
  margin: auto;
  margin-top: 10px;
}

.border_6 {
  display: flex;
  justify-content: center;
  border-style: outset;
  width: 200px;
  margin: auto;  
  margin-top: 10px;
  
}

.border_7 {
  display: flex;
  justify-content: center;
  border-style: dashed;
  width: 200px;
  margin: auto;  
  margin-top: 10px;
}

.border_8 {
  display: flex;
  justify-content: center;
  border-style: solid;
  width: 200px;
  margin: auto;  
  margin-top: 10px;
}  

.border_9 {
  display: flex;
  justify-content: center;
  border: 30px solid greenyellow;
  width: 200px;
  margin: auto;
  margin-top: 10px;
  
}  

.border_10 {
  display: flex;
  justify-content: center;
  border-top: 30px solid blue;
  border-left: 30px solid red;
  width: 200px;
  margin: auto;  
  margin-top: 10px;  
}  

.border_11 {
  display: flex;
  justify-content: center;
  border: 30px solid transparent;
  background-color: rgb(150,215,255);
  border-image: url("./src/img/border.png") 150 round;
  width: 200px;  
  margin: auto;  
  margin-top: 10px;  
}  

.border_12 {
  display: flex;
  justify-content: center;
  border: 30px solid greenyellow;
  border-radius: 20px;
  width: 200px;
  margin: auto;
  margin-top: 10px;
} 
  
.border_13 {
  display: flex;
  justify-content: center;
  border: 30px solid blue;
  border-radius: 20px;
  box-shadow: 10px 20px gray;
  width: 200px;
  margin: auto;  
  margin-top: 30px;
} 
  

