/* 
   SEM o border-box, a bordar do título ultrapassa as margens da classe Pai
   border-box permite que os valores da classe Filho respeitem as 
   margens da classe Pai;

   1-) Importante que width da classe filho esteja em 100%
   2-) O que faz a borda ultrapassar a margen da classe pai 
       são valores de width e padding da classe filho
*/  

* {  
  margin: 0;
  padding: 0;
}

.pai{   
  width: 200px;
  height: 200px;
  margin: 50px auto;
  background-color: blue;   
  padding: 10px;
}

.filho{ 
  border: solid 10px;  
  width: 100%;  
  padding: 5px;
  box-sizing: border-box;   
}